<h2>Alle gebruikte promocodes</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!errorMessage">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="usedAt">
        <th mat-header-cell *matHeaderCellDef> UsedAt </th>
        <td mat-cell *matCellDef="let element"> {{element.usedAt}} </td>
    </ng-container>

    <ng-container matColumnDef="discountApplied">
        <th mat-header-cell *matHeaderCellDef> Discount Applied </th>
        <td mat-cell *matCellDef="let element"> {{element.discountApplied}} </td>
    </ng-container>

    <ng-container matColumnDef="promocode">
        <th mat-header-cell *matHeaderCellDef> Promocode </th>
        <td mat-cell *matCellDef="let element"> {{element.promocode.code}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="errorMessage">
    {{ errorMessage }}
</div>