@use "../../styles" as mixins;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.Nav-bar {
  background: mixins.$header-main-color;
  border-bottom: 4px solid #ffd700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: mixins.$retro-font;

  ul {
    flex-direction: row !important;
    @include mixins.ul-button-menu();
  }

  li {
    padding: 5px;
    list-style: none;
    margin: 0;
  }

  li a {
    @include mixins.retro-action-base();
    background: #ffd700;
    color: #2d2d2d;
    border-radius: 5px;
    border: 3px solid #7a0000;
    text-decoration: none;

    &:hover {
      background: #ff9900;
      color: #fff;
    }
    &.active {
      background: #ff6600;
      color: white;
    }
  }

  button {
    @include mixins.retro-action-base();
    background: #7a0000;
    color: white;
    border: 3px solid #ffd700;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    //transform: translateY(0%);

    &:hover {
      background: #ff3300;
    }
    &:active {
      background: #b30000;
    }
  }
}

.header-space {
  padding-top: 90px;
}
