<div class="shopping-cart">
  <h2>{{ 'cart.title' | translate }}</h2>

  <div class="cart-layout">
    <div class="cart-items">
      <ul *ngIf="cart().length > 0; else emptyCart">
        <li *ngFor="let item of cart()">
          <img [ngSrc]="item.product.imageUrl" [alt]="item.product.name" width="60" height="60">
          <div class="cart-details">
            <p>{{ item.product.name }}</p>
            <p>{{ '€' + item.product.price.toFixed(2) }}</p>
            <p>{{ 'cart.amount' | translate }}{{ item.quantity }}</p>
          </div>
          <div class="cart-actions">
            <button class="cart-btn remove" (click)="removeProduct(item.product.id)">{{ 'cart.del' | translate }}</button>
            <button class="cart-btn" (click)="decreaseQuantity(item.product.id)">➖</button>
            <button class="cart-btn" (click)="increaseQuantity(item.product.id)">➕</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="cart-summary" *ngIf="cart().length > 0">
        <p>{{ 'cart.Total_price' | translate }}{{ totalPrice.toFixed(2) }}</p>
      <input type="text" placeholder="{{ 'cart.promocode' | translate }}" [(ngModel)]="promoCode" class="promo-input" [disabled]="promocodeApplied" >
      <button class="special-button" (click)="applyPromocode()" [disabled]="promocodeApplied">{{ 'cart.applying_promocode' | translate }}</button>
      <button class="special-button" (click)="clearCart()">{{ 'cart.empty' | translate }}</button>
      <button routerLink="/order" class="special-button">{{ 'cart.checkout' | translate }}</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p class="empty-message">{{ 'cart.noCart' | translate }}</p>
    <p class="empty-message">{{ 'cart.warning' | translate }}</p>
  </ng-template>
</div>
