<div class="form-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label>Email:</label>
      <input type="text" formControlName="email" required/>
      @if (email?.touched && email?.invalid){
        <span>{{ 'auth.span-message-email' | translate }}</span>
      }
    </div>

    <div class="form-group">
      <label>{{ 'auth.password' | translate }}:</label>
      <input type="password" formControlName="password" required/>
      @if (password?.touched && password?.invalid){
        <span>{{ 'auth.span-message-password' | translate }}</span>
      }
    </div>

    <button type="submit" class="submit-btn">Login</button>
  </form>

  <p>{{ 'auth.noAccount' | translate }}<a routerLink="/register">{{ 'auth.register-link' | translate }}</a></p>
</div>
