@use '../../styles' as *;

.ListOfAdminfunctionalities {

  ul {
    @include ul-button-menu();
  }

  li {
    @include li-button-menu();
  }

  li a {
    @include retro-button();
    display: flex;
    margin: 0;
    width: 100%;
    border-radius: 5px;
  }
}